# Ignora la cartella delle immagini
png
plot
csv
samples

# Python artifacts
__pycache__/
*.pyc

# Ignora la cartella della libreria Python
*robotic-orchestra-venv/
venv/
.env/
# Escludi tutti i file video AVI
*.mp4

# Escludi i file audio
*.wav
*.gif
*.csv


