# Ignora la cartella delle immagini
png

# Ignora la cartella della libreria Python
*robotic-orchestra-venv/

# Escludi tutti i file video AVI
*.mp4

# Escludi i file audio
*.wav

# Escludi file csv
*.csv
