# Ignora la cartella delle immagini
png
plot
csv
samples

# Ignora la cartella della libreria Python
*robotic-orchestra-venv/

# Escludi tutti i file video AVI
*.mp4

# Escludi i file audio
*.wav
*.gif
*.csv


